.list-item{
   margin: 20px 0;
   padding-left: 10px;
   border-bottom: 2px solid white;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.list-item:last-child{
   margin-bottom: 0;
}

.list-item h2{
   font-family: 'BebasNeue', sans-serif;
   color: white;
   font-size: 38px;
   font-weight: normal;
}

@media only screen and (min-width: 700px){
   .list-item h2{
      font-size: 42px;
   }
}