

.difficulty-indicator{
   display: inline-flex;
   margin-left: 10px;
}

.difficulty-ball{
   margin: 0 5px;
   display: inline-block;
   width: 15px;
   height: 15px;
   border-radius:50%;
   background-color: #fdd54f;
}

.difficulty-ball:last-child{
   background-color: #aaaaaa;
}
