.home-page{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-image: url('../assets/images/background.png');
}

@media only screen and (min-width: 700px){
   .decoration-rows{
      position: absolute;
      left: 30px;
      top: 0;

      height: 100%;
      width: 45px;
      border-left: 15px solid #3470a3;
      border-right: 15px solid #fdd54f;
      z-index: 1;
   }

   .home-page{
      height: 100vh;
   }
}
