.difficulty{
   color: white;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   font-size: 18px;
   font-family: 'Ubuntu', sans-serif;
}

@media only screen and (min-width: 700px){
   .difficulty{
      font-size: 22px;
   }
}