@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face{
   font-family: 'AdventBold';
   src: url('./assets/fonts/advent-Bd3.otf');
}
@font-face{
   font-family: 'AdventLight';
   src: url('./assets/fonts/advent-Lt3.otf');
}
@font-face{
   font-family: 'BebasNeue';
   src: url('./assets/fonts/BebasNeue-Regular.otf');
}

*{
   margin: 0;
   padding: 0;
   outline: 0;
   border: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body{
   background-image: url('./assets/images/background.png');
}

#root{
   width: 100%;
}

a:hover{
   text-decoration: underline;
   text-decoration-color: white;
   cursor: pointer;
}

article{
   position: relative;
   width: 100%;
}